<div class="dashboard">

  <!-- TOP BAR -->
  <div class="topbar">
    <div>
      <h1>AYNversity</h1>
      <p>Academic Learning Platform</p>
    </div>

    <div class="userbox">
      <span>{{ userEmail }} ({{role}})        </span>
      <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
  </div>

  <!-- STATS -->
  <div class="stats">
    <div class="stat-card blue">
      <h2>{{ courses.length }}</h2>
      <p>Total Courses</p>
    </div>
  </div> 

  <!-- ================= Teacher ONLY ================= -->
  <div class="add-card" *ngIf="isTeacher()">

    <h3>Add New Course</h3>

    <div class="form-grid">
      <input placeholder="Title" [(ngModel)]="newCourse.title" />
      <input placeholder="Description" [(ngModel)]="newCourse.description" />
      <input placeholder="Category" [(ngModel)]="newCourse.category" />

      <input placeholder="Instructor" [(ngModel)]="newCourse.instructor" />
      <input placeholder="Teacher Email" [(ngModel)]="newCourse.userEmail" />
    </div>

    <button (click)="addCourse()">Add Course</button>

  </div>

  <!-- COURSES -->
  <div class="grid">

    <div class="course" *ngFor="let c of courses">

      <h3>{{ c.title }}</h3>
      <p>{{ c.description }}</p>

      <span class="tag">{{ c.category }}</span>

      <!-- ================= STUDENT ONLY ================= -->
      <button 
        class="apply" 
        *ngIf="isStudent()" 
        (click)="applyCourse(c.id)">
        Apply Course
      </button>

      <!-- ================= Teacher ONLY ================= -->
      <button 
        class="delete" 
        *ngIf="isTeacher()" 
        (click)="deleteCourse(c.id)">
        Delete
      </button>

    </div>

  </div>

</div>